@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

    

html,main{
    overflow-y: auto;
    overflow-x: hidden;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 95vh;
 
}
main{
    background-color: black;
    text-align: center;
    max-width: 700px;
    min-height: 0;
    
    margin: auto;
    border-radius: 10px;

}


.imagem{
    margin-top: 400px;    
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

main >header{   
    
    background-image: 
    linear-gradient(
        to bottom,
        rgba(0,0,0,0) 50%,
        rgba(0,0,0,1) 100%
    ),
    url(fundo/video_distante_android_zoom.gif);

    position: relative;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 0;
    margin: 0px;
}

header > h1{
    font-family: "Nunito Sans", sans-serif;
    font-weight: weight;
    font-style: normal;
    text-shadow: 1x 5px 1x 1x rgba(130, 125, 125, 0.738);
    
    color: white;
    margin-bottom: 0px;

}
header > p {
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-weight: weight;
    font-style: normal;
    padding: 0px;
    text-shadow: 1x 5px 1x 1x rgba(130, 125, 125, 0.738);
    margin-bottom: 0px;
}
.links{
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 15px;
    max-width: 500px;
    width: 90%;
    height: 40px;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}
.links:hover{
      background-image: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("fundo/goldssspell.jpg");


    background-position: center center;
    transform: scale(1.10);
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background-color: black;
    box-shadow: 0px 1px 5px 2px rgba(255, 255, 255, 0.452);
}
#EUA :hover{
    background-image: linear-gradient( rgba(0, 0, 0, 0.112), rgba(0, 0, 0, 0.123)),
    url(fundo/eua.png);
     background-position: center center;
    transform: scale(1.10);
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background-color: black;
    box-shadow: 0px 1px 5px 2px rgba(255, 255, 255, 0.452);
}
#Europe :hover{
    background-image: linear-gradient( rgba(0, 0, 0, 0.112), rgba(0, 0, 0, 0.123)),
    url(fundo/europa.png);
    background-size: cover;
    background-position: center center;
    transform: scale(1.10);
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background-color: black;
    box-shadow: 0px 1px 5px 2px rgba(255, 255, 255, 0.452);

}
section > p {
    font-family: "Nunito Sans", sans-serif;
    font-weight: weight;
    font-style: normal;
    padding-top: 10px;
}   
a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer{
    background-color: black;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 14px;
}