@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

@font-face{
    font-family: 'minhafonte';
    src: url( 'fontes/idroid.otf') format('opentype');
}
body{
    
    margin: 0px;
    background-color: aquamarine;
}
header{
    margin-top: -22px;
    color: white;
    background-image: linear-gradient(to top, rgb(1, 36, 12),rgb(2, 99, 39), rgba(3, 161, 16, 0.482));
    font-family: "Signika", sans-serif;
    text-align: center;
    box-shadow: 1px 1px 1px black;
    min-height: 150px;
}
.menu{
    color: white;
    text-decoration: none;
    padding: 1px 5px 1px 1px;
}

nav>a {
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;

}
nav>a:hover{
    background-color: rgba(153, 205, 50, 0.434);
    color: black;
}
nav{

    background-image: linear-gradient(to top, rgb(1, 36, 12));
    text-align: justify;
    padding: 1px;
    box-shadow: 0px 7px 0px black;

    
}
.foto{
    display: block;
    margin: auto;
    width: 95%;
}
.leitura{
    padding: 1px;
    background-image: linear-gradient(to right,rgb(71, 247, 71) , transparent);
    font-family: 'minhafonte',sans-serif;
    color: rgb(17, 128, 17);
}
main{
    text-align: left;
    background-color: white;
    max-width: 1000px;
    min-width: 320px;
    width: auto;
    margin: auto;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    margin-bottom: 30px;
}
.imagem{
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
}
section{
    border-radius: 5px  ;
    background-color: rgba(0, 135, 0, 0.674);
}
.video{
  display: flex;
  justify-content: center ;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.612);
    
}
.coluna{
    background-color: rgb(149, 243, 212);
    display: flex;
    text-decoration: underline;
    box-shadow: inset 1px 1px 1px   rgba(0, 0, 0, 0.338);
    

}
div>ul{
    list-style-position: inside;
    columns: 2;
}
.android {

    background-color: rgb(157, 247, 217);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.454);
    padding: 0.4x;
    border-radius: 5px;
    text-indent: 20px;



}
.androidcabe{
    border-radius: 5px;
    background-color: rgba(1, 171, 114, 0.797);
    
}
footer{
    text-align: center;
    background-color: rgb(2, 121, 71);
}
footer:hover{
    color: white;
}
p{
    text-indent: 20px;
    margin: 15px 0px;
}
main a{
    background-color: aqua;
    color: black;
    text-decoration: none;
    padding: 2px;

}
main a:hover{
    background-color: rgba(4, 142, 142, 0.708);
    

}